<?xml version="1.0" encoding="UTF-8"?>
<!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset -->
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Custom Standard" xsi:noNamespaceSchemaLocation="phpcs.xsd">
  <description>A custom coding standard</description>
  <config name="extensions" value="php"/>
  <file>.</file>
  <exclude-pattern>src/Http/Middleware/TransformsRequest.php</exclude-pattern>
  <exclude-pattern>vendor/*</exclude-pattern>
  <arg name="basepath" value="./"/>
  <arg name="colors"/>
  <arg name="parallel" value="75"/>
  <arg value="np"/>
  <rule ref="Generic.Commenting">
    <exclude-pattern>./tests/*</exclude-pattern>
  </rule>
  <rule ref="PEAR">
    <exclude name="PEAR.Commenting.ClassComment.Missing"/>
    <exclude name="PEAR.Commenting.FileComment.Missing"/>
    <!-- Conflict with PSR2.Methods.MethodDeclaration.Underscore -->
    <exclude name="PEAR.NamingConventions.ValidFunctionName.PrivateNoUnderscore"/>
    <!-- Conflict with Generic.WhiteSpace.ScopeIndent.IncorrectExact -->
    <exclude name="PEAR.WhiteSpace.ScopeIndent.IncorrectExact"/>
  </rule>
  <rule ref="PEAR.Commenting">
    <exclude-pattern>./tests/*</exclude-pattern>
  </rule>
  <rule ref="PSR1"/>
  <rule ref="PSR12"/>
  <rule ref="Squiz.Commenting.FunctionComment.ParamCommentFullStop"/>
  <rule ref="Squiz.Strings.DoubleQuoteUsage.NotRequired"/>
  <rule ref="Zend">
    <exclude name="Zend.NamingConventions.ValidVariableName.PrivateNoUnderscore"/>
  </rule>
</ruleset>