<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.2/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         cacheResult="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         testdox="true">
  <testsuites>
    <testsuite name="My Test Suite">
      <file>./tests/EmojiHelperTest.php</file>
      <file phpVersion="7.2.0" phpVersionOperator=">=">./tests/EmojiDataTest.php</file>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
      <exclude>
        <!-- Used by Laravel / Lumen -->
        <directory suffix=".php">./src/Http/Middleware</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>